# Teste - Ciência de Dados / Otimização e Pesquisa Operacional (Short Track)

## Cenário II

O segundo entregável consiste na transformação de dados disponíveis em <a href="https://drive.google.com/file/d/1IDCjpDZh5St97jw4K_bAewJ8hf-rax9C/view?usp=sharing">arquivo Json</a> para o formato de dataframe, algo comum no dia a dia da empresa. Após transformar esse Json em dataframe é possível perceber que a coluna "item_list" está como dicionário. Seu gestor pediu dois pontos de atenção nessa tarefa:

- Expandir a coluna num mesmo dataframe;
- Normalizar os itens dessa coluna de dicionário e dividí-los em dois dataframes separados, seguindo o modelo relacional.

In [1]:
import json
import pandas as pd

Vamos carregar o json.

In [2]:
f = open('data/data.json')
data = json.load(f)
data

[{'CreateDate': '2021-05-24T20:21:34.79',
  'EmissionDate': '2021-05-24T00:00:00',
  'Discount': 0.0,
  'NFeNumber': 501,
  'NFeID': 1,
  'ItemList': [{'ProductName': 'Rice', 'Value': 35.55, 'Quantity': 2},
   {'ProductName': 'Flour', 'Value': 11.55, 'Quantity': 5},
   {'ProductName': 'Bean', 'Value': 27.15, 'Quantity': 7}]},
 {'CreateDate': '2021-05-24T20:21:34.79',
  'EmissionDate': '2021-05-24T00:00:00',
  'Discount': 0.0,
  'NFeNumber': 502,
  'NFeID': 2,
  'ItemList': [{'ProductName': 'Tomate', 'Value': 12.25, 'Quantity': 10},
   {'ProductName': 'Pasta', 'Value': 7.55, 'Quantity': 5}]},
 {'CreateDate': '2021-05-24T20:21:34.79',
  'EmissionDate': '2021-05-24T00:00:00',
  'Discount': 0.0,
  'NFeNumber': 503,
  'NFeID': 3,
  'ItemList': [{'ProductName': 'Beer', 'Value': 9.0, 'Quantity': 6},
   {'ProductName': 'French fries', 'Value': 10.99, 'Quantity': 2},
   {'ProductName': 'Ice cream', 'Value': 27.15, 'Quantity': 1}]}]

Aqui criamos o dataframe com informações das notas fiscais;

In [3]:
nfe_data = []
for d in data:
    nfe_data.append({
        'NFeID': d['NFeID'],
        'NFeNumber': d['NFeNumber'],
        'CreateDate': d['CreateDate'],
        'EmissionDate': d['EmissionDate'],
        'Discount': d['Discount']
    })
nfe_df = pd.DataFrame(nfe_data)

E aqui criamos o dataframe com informações dos itens das notas fiscais.

In [4]:

nfe_items_data = []
for d in data:
    for item in d['ItemList']:
        nfe_items_data.append({
            'NFeID': d['NFeID'],
            'ProductName': item['ProductName'],
            'Value': item['Value'],
            'Quantity': item['Quantity']
        })
nfe_items_df = pd.DataFrame(nfe_items_data)

In [5]:
nfe_df

   NFeID  NFeNumber              CreateDate         EmissionDate  Discount
0      1        501  2021-05-24T20:21:34.79  2021-05-24T00:00:00       0.0
1      2        502  2021-05-24T20:21:34.79  2021-05-24T00:00:00       0.0
2      3        503  2021-05-24T20:21:34.79  2021-05-24T00:00:00       0.0

In [6]:
nfe_items_df

   NFeID   ProductName  Value  Quantity
0      1          Rice  35.55         2
1      1         Flour  11.55         5
2      1          Bean  27.15         7
3      2        Tomate  12.25        10
4      2         Pasta   7.55         5
5      3          Beer   9.00         6
6      3  French fries  10.99         2
7      3     Ice cream  27.15         1